<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">{{dialogData.action == 'Add' ? 'Adicionar' : 'Editar' }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="editalForm">
    <div fxFlex fxLayout="column">
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" required>
          <mat-error *ngIf="editalForm.controls.nome.touched && editalForm.controls.nome.invalid">
            <span *ngIf="editalForm.controls.nome.errors?.required">Campo obrigatório</span>
            <span *ngIf="editalForm.controls.nome.errors?.minlength && !editalForm.controls.nome.errors?.pattern">Nome inválido, o nome deve ter no mínimo 8 caracteres</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Data de abertura</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dt_abertura" required>
          <mat-error *ngIf="editalForm.controls.dt_abertura.touched && editalForm.controls.dt_abertura.invalid">
            <span *ngIf="editalForm.controls.dt_abertura.errors?.required">Campo obrigatório</span>
          </mat-error>
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap" style="margin-top: 15px; margin-left: 7px;" >
        <label style="font-weight: 700;">{{ (dialogAction !== 'Edit') ? 'Planilha de alunos inscritos' : 'Obs.: Não é possível editar a lista de alunos inscritos. O processo de inscrição por meio desta funcionalidade não pode ser refeito.' }}</label>
        <div *ngIf="dialogAction !== 'Edit'">
          <input type="file" formControlName="planilha_alunos_inscritos" required (change)="onFileChange($event)" style="margin-top: 8px; margin-bottom: 15px">
            <mat-error *ngIf="editalForm.controls.planilha_alunos_inscritos.touched && editalForm.controls.planilha_alunos_inscritos.invalid">
              <span *ngIf="editalForm.controls.planilha_alunos_inscritos.errors?.required">Campo obrigatório</span>
              <span *ngIf="fileError">{{ fileError }}</span>
            </mat-error>
            <a href="https://firebasestorage.googleapis.com/v0/b/sistema-matricula-angular.appspot.com/o/arquivosEspecificos%2FInstrucaoUsoEnvioDePlanilha.pdf?alt=media&token=7755558c-fe01-494c-8d3d-ce161f1d3073" target="_blank">Para consulta os critérios da planilha acesse esse link!</a>
        </div>
      </div>

    </div>
  </form>
<mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" (click)="handleSubmmit()"
    [disabled]="!(editalForm.valid && editalForm.dirty)">{{action == 'Add' ? 'Adicionar' : 'Editar'}}</button>
  <button mat-raised-button color="primary" mat-dialog-close>Fechar</button>
</mat-dialog-actions>
