
<div class="container">
  <div class="content">
    <h2 style="font-size: 1.5em; font-weight: bold;"><span aria-hidden="true"></span> Redefinir Senha </h2>
    <form [formGroup]="resetPasswordForm">
      <div fxFlex  fxFalyout="collum">

        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Senha atual</mat-label>
          <input matInput formControlName="senhaAtual" required>
          <mat-error *ngIf="resetPasswordForm.controls.senhaAtual.touched && resetPasswordForm.controls.senhaAtual.invalid">
            <span *ngIf="resetPasswordForm.controls.senhaAtual.errors?.required">Campo obrigatório</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Nova senha</mat-label>
          <input matInput formControlName="novaSenha" required>
          <mat-error *ngIf="resetPasswordForm.controls.novaSenha.touched && resetPasswordForm.controls.novaSenha.invalid">
            <span *ngIf="resetPasswordForm.controls.novaSenha.errors?.required">Campo obrigatório</span>
            <span *ngIf="resetPasswordForm.controls.novaSenha.errors?.minlength">Senha inválida, a senha deve ter no mínimo 6 caracteres</span>
          </mat-error>
        </mat-form-field>

      </div>
    </form>

      <div class="btn-access">
        <button
        mat-flat-button
        color="primary"
        type="submit"
        style="width: 100%;"
        (click)="handledSubmitResetPassword()"
        [disabled]="(!resetPasswordForm.valid && resetPasswordForm.dirty)">Redefinir</button>
      </div>
  </div>
</div>



