.mat-toolbar {
  margin: -24px;
  width: auto;
  margin-bottom: 10px;
}

.mat-dialog-actions {
  width: auto;
  margin-bottom: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}

.mat-form-field {
  padding: 5px;
}

.mat-form-field {
  width: 100%;
}
