<div class="container">
  <mat-card class="card-add-user">
    <b> <span> Gerenciar Usuários </span></b>
    <button mat-raised-button color="primary" (click)="handleAddAction()">Adicionar Usuário</button>
  </mat-card>
  <mat-card>
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
  </mat-card>
  <hr>
  <div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mt-elevation-z8">
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element" style="text-align: left"> {{element.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element" style="text-align: left"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef style="text-align: left"> Tipo </th>
        <td mat-cell *matCellDef="let element" style="text-align: left">
        {{
          element.tipo === 'A' ? 'Administrador' :
          element.tipo === 'V' ? 'Avaliador' :
          'Aluno'
        }} </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef style="text-align: center"> Ações </th>
        <td mat-cell *matCellDef="let element" class="action-link" style="text-align: center">
          <button mat-icon-button color="primary" matTooltip="Editar" (click)="handleEditAction(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Excluir" (click)="handleDeleteAction(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
