<!-- Estrutura antiga da página em html e css puro -->

<!-- <div class="container">
  <div class="content">
    <h2
      style="font-size: 1.5em;
      font-weight: bold;"
    ><span class="fas fa-lock" aria-hidden="true"></span> Login Sistema Matrícula </h2>

      <div class="form-group">
        <label for="Email">Email:</label>
        <input type="email" class="form-control" id="Email" placeholder="Digite seu email" [(ngModel)]="email">
      </div>

      <div class="form-group">
        <label for="Senha">Senha:</label>
        <input type="password" class="form-control" id="Senha" placeholder="Digite sua senha" [(ngModel)]="password">
      </div>

      <div class="btn-access">
        <app-elevated-button
          [classCss]="'primary'"
          [text]="'Acessar'"
          (click)="onLogin()">
        </app-elevated-button>
      </div>

    <div class="link">
      <app-link
        [text]="'Esqueceu ou deseja alterar sua senha?'">
      </app-link>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="content">
    <h2 style="font-size: 1.5em; font-weight: bold;"><span class="fas fa-lock" aria-hidden="true"></span> Login Sistema Matrícula </h2>
      <form [formGroup]="loginForm">
        <div fxFlex  fxFalyout="collum">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
              <span *ngIf="loginForm.controls.email.errors?.required">Campo obrigatório</span>
              <span *ngIf="loginForm.controls.email.errors?.pattern">Email inválido</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password" required>
            <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
              <span *ngIf="loginForm.controls.password.errors?.required">Campo obrigatório</span>
              <span *ngIf="loginForm.controls.password.errors?.minlength">Senha deve ter no mínimo 6 caracteres</span>
            </mat-error>
          </mat-form-field>
        </div>
      </form>

      <div class="btn-access">
        <button
        mat-flat-button
        color="primary"
        type="submit"
        style="width: 100%;"
        (click)="handledSubmitLogin()"
        [disabled]="(!loginForm.valid && loginForm.dirty)">Acessar</button>
      </div>

      <div class="link">
        <app-link
          [text]="'Ainda não possui cadastro? Registre-se aqui!'">
        </app-link>
      </div>
  </div>
</div>
