.container {
  width: 85vw;
}

.card-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.float-right {
  float: right;
}

mat-card {
  margin-top: 20px;
}

table {
  width: 100%;
}
